/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * https://cssreset.com/
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
html{
	color:#000;
	background:#FFF;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,
img {
	border:0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style:normal;
	font-weight:normal;
}

ol,
ul {
	list-style:none;
}

caption,
th {
	text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,
q:after {
	content:'';
}
abbr,
acronym {
	border:0;
	font-variant:normal;
}

sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,
textarea,
select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}

input,
textarea,
select {
	*font-size:100%;
}

legend {
	color:#000;
}

body {
  font-family: Roboto;
}

#root {
  padding: 0 0 50px 0;
}

.table thead>tr>th:first-child{
  border-top-left-radius: 10px;
}
.table thead>tr>th:last-child{
  border-top-right-radius: 10px;
}
.table th,
.table td {
  padding: 10px 5px;
  border: 1px solid #666;
}
.table th {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  vertical-align: middle !important;
}
.table th i {
  padding-left: 10px;
}


.table-bordered th:hover,
.table-bordered th:focus {
  background-color: rgba(233, 213, 0, 0.2);
}
.table-bordered tr:hover td {
  background-color: rgba(233, 213, 0, 0.2);
}

.no-data {
  font-style: italic;
  color: #b70000;
}


.navbar {
  margin-bottom: 20px;
}

.dropzone {
  background: #F6F6FA;
  color: rgba(0, 123, 255, 0.4);
  border: 1px solid rgba(0, 123, 255, 0.2);
  height: 150px;
  display: flex;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  line-height: 1.5;
  border-radius: 26px;
  cursor: pointer;
  transition: .2s;
  font-size: 15px;
  margin: 20px auto;
  max-width: 400px;
  width: 100%;
}
.dropzone p {
  max-width: 100%;
  word-wrap: break-word;
}
.dropzone:hover,
.dropzone:focus {
  border-color: rgba(0, 123, 255, 0.65);
  color: rgba(0, 123, 255, 0.65);
}

input {
  line-height: 50px;
  padding: 5px 10px;
  background: #F6F6FA;
  border: 1px solid transparent;
  border-radius: 26px;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  color: #666;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}
textarea {
  padding: 15px 20px;
  background: #F6F6FA;
  border: 1px solid transparent;
  border-radius: 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  color: #666;
  width: 100%;
  max-width: 400px;
  height: 130px;
  box-sizing: border-box;
  line-height: 1.5;
  resize: none;
}
input:focus,
textarea:focus {
  border-color: rgba(155, 169, 187, 0.2);
}
input::-webkit-input-placeholder {
  color: #9BA9BB;
}
input:-ms-input-placeholder {
  color: #9BA9BB;
}
input::-moz-placeholder {
  color: #9BA9BB;
}
input:-moz-placeholder {
  color: #9BA9BB;
}
textarea::-webkit-input-placeholder {
  color: #9BA9BB;
}
textarea:-ms-input-placeholder {
  color: #9BA9BB;
}
textarea::-moz-placeholder {
  color: #9BA9BB;
}
textarea:-moz-placeholder {
  color: #9BA9BB;
}
@media only screen and (max-width: 767px) {
  input,
  textarea,
  .dropzone {
    width: 100%;
  }
}
