table.plans-list input {
	border: 1px solid #007bff50;
	border-radius: 10px;
	font-weight: normal;
}
table.plans-list input:hover,
table.plans-list input:active,
table.plans-list input:focus {
	border-color: #007bff;
}
.plans-list .last-header-cell {
 	min-width: 120px;
	cursor: default;
}
.plans-list .last-header-cell:hover,
.plans-list .last-header-cell:focus {
    background-color: transparent;
}
